
<br>

<section class="page-section" >
  <div  class="container"id="skills" >
    <h2 class="page-section-heading text-center text-uppercase mb-0">Skills
    </h2><hr>
      <div class="row">
       <div class="col-6">
        <div class="card1">
          <img src="/images/webDev.jpg" class="card-img-top" alt="Web-Dev">
            <div class="card-body">
              <h5 class="mb-0 text-center"> Web Development </h5>
              <p class="card-text">Simple Understandable and Aesthetic designs and prototypes for users</p>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card1">
          <img src="/images/iOSDev.jpg" class="card-img-top" alt="iOS Dev">
            <div class="card-body">
              <h5 class="mb-0 text-center"> iOS Development  </h5>
              <p class="card-text">Web Application and Mobile Application Designs which are easy to use and understand</p>
            </div>
        </div>
      </div>
  </div><br><br>
</section> 