
<br>


<section>
  <div  class="container" id="home">
    <div >
      <div class="row" >
        <div class="col-6">
          <img class="mb-2 " id="imgID" src="/images/myPic.jpg" alt="Faizan Ansari">
        </div>
        <div class="col-6">
          <h1 class="ms-2" >Faizan Ansari</h1>
            <h4 class="mb-0">Web Developer - iOS Developer </h4> <br>
               <p>Web and iOS Application Developer who love to write code and make things simple elegant and aesthetic kind of applications.
                  Using the technologies will try to find the solutions of daily real life problems. <br>
                  - I have also knowledge about Java and C++ <br>
                  - I also know UI/UX design as well
                  

                </p>
        </div>                       
      </div>
    </div>
  </div>
</section>



<br>

<section class="page-section" >
  <div  class="container"id="skills" >
    <h2 class="page-section-heading text-center text-uppercase mb-0">Skills
    </h2><hr>
      <div class="row">
       <div class="col-6">
        <div class="card1">
          <img src="/images/webDev.jpg" class="card-img-top" alt="Web-Dev">
            <div class="card-body">
              <h5 class="mb-0 text-center"> Web Development </h5>
              <p class="card-text">Able to create website for users and for personal use as well</p>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card1">
          <img src="/images/iOSDev.jpg" class="card-img-top" alt="iOS Dev">
            <div class="card-body">
              <h5 class="mb-0 text-center"> iOS Development  </h5>
              <p class="card-text"> iOS Application Development and Designs which are easy to use and understand</p>
            </div>
        </div>
      </div>
  </div><br><br>
</section> 

<br>
<section class="page-section" >
  <div  class="container"id="project" >             
    <h2 class="page-section-heading text-center text-uppercase mb-0">projects</h2><hr>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img src="/images/Song.png" class="card-img-top" alt="MusicalWibes">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, sapiente accusamus.eaque quibusdam commodi tempora voluptatibus aut porro quam quia molestias pariatur placeat maiores hic, ea odio, consectetur magni.</p>
          </div>
          </div>
        </div>
        <div class="col-md-4" >
          <div class="card">
            <img src="/images/foodExpres.png" class="card-img-top" alt="Food Express">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quod delectus quia autem, tenetur numquam est laudantium? eum fugiat amet porro obcaecati nostrum mollitia, cumque ex?</p>
          </div>
          </div>
        </div>
 <div class="col-md-4" >
          <div class="card">
            <img src="/images/uiBank.png" class="card-img-top" alt="Food Express">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quod delectus quia autem, tenetur numquam est laudantium? eum fugiat amet porro obcaecati nostrum mollitia, cumque ex?</p>
          </div>
          </div>
        </div>

        


      </div>
  </div><br><br><br><br>
</section> 


{{!-- https://getbootstrap.com/docs/5.0/components/card/ ---For prjects I have used Cards --}}




<br>

<!-- Contact Section-->
<section class="page-section" >
  <div class="container "  id="contact">
    <h2 class="page-section-heading text-center mb-0">Connect With Faizan</h2><hr>
     <div class="row">
      <div class="col-md-6 ">
        <!-- Contact Section Heading-->
        <h3 class="page-section-heading text-center mb-0">Contact Me</h3><br>
        <!-- Contact Section Form-->
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
          <!-- Name input-->
          <div class="form-floating mb-3">
              <input class="form-control" id="name" type="text" placeholder="Enter your name..." required />
              <label for="name">Full name</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
          </div>
          <!-- Email address input-->
          <div class="form-floating mb-3 myBackground">
              <input class="form-control" id="email" type="email" placeholder="name@example.com" required />
              <label for="email">Email address</label>
              <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
          </div>
          <!-- Message input-->
          <div class="form-floating mb-3">
              <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." required></textarea>
              <label for="message">Message</label>
              <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
          </div>
          <!-- Submit success message-->
          <!---->
          <!-- This is what your users will see when the form-->
          <!-- has successfully submitted-->
          <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                  <div class="fw-bolder">Form submission successful!</div>
                  <br>
              </div>
          </div>
          <!-- Submit error message-->
          <!---->
          <!-- This is what your users will see when there is-->
          <!-- an error submitting the form-->
          <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
          <!-- Submit Button-->
          <button class="btn btn-secondary my-2 my-sm-0" id="submitButton" type="submit">Send Your Query</button>
        </form>
      </div>          
      <div class="col-md-6" >
        <div class="address-section">
          <h2 class="page-section-heading text-center mb-0">Available At</h2><br>
            <div class="row">
              <div class="col-sm-3">
                 
                <img src="/images/maps.png" class="icon position" >
              </div>
              <div class="col-sm-5">
                <h5>Address</h5>
                <p>25 Northview Heights Dr Cambridge N1R 7A7, Canada</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                  
                <img src="/images/phone.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Telephone</h5>
                <p>+1 226 698 7275</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <img src="/images/mails.png" class="icon" >
              </div>
              <div class="col-sm-6">
                <h5>Mail Drop</h5>
                <p>f97aizan@gmail.com</p>
              </div>
            </div>
        </div>
      </div>
      </div>
  </div><br><br><br>
</section>

