
<br>


<section>
  <div  class="container" id="home">
    <div >
      <div class="row" >
        <div class="col-6">
          <img class="mb-2 " id="imgID" src="/images/myPic.jpg" alt="Faizan Ansari">
        </div>
        <div class="col-6">
          <h1 class="ms-2" >Faizan Ansari</h1>
            <h4 class="mb-0">Web Developer - iOS Developer </h4> <br>
               <p>Web and iOS Application Developer who love to write code and make things simple elegant and aesthetic kind of applications.
                  Using the technologies will try to find the solutions of daily real life problems. <br>
                  - I have also knowledge about Java and C++ 
                  - I also know UI/UX design as well
                  

                </p>
        </div>                       
      </div>
    </div>
  </div>
</section>

